<footer class="d-block" style="background: #909090">
    <div class="container d-flex justify-content-between text-uppercase text-white align-items-start">
        <div class="d-grid">
            <h4>Info</h4>
            <a href="#">About us</a>
            <a href="#">Contacts</a>
            <a href="#">About Kyrgyzstan</a>
            <a href="#">About Tajikistan</a>
            <a href="#">About Mongolia</a>
            <a href="#">About CHINA</a>
            <div class="address d-inline-block">
                <p>Phone: +996556666666</p>
                <p>address: osh,kyrgyzstan</p>
                <p>index:723500</p>
            </div>
        </div>
        <div class="d-grid">
            <h4>Rents</h4>
            <a href="#">OFF-Road cars</a>
            <a href="#">OFF-Road motorcycles</a>
            <a href="#">Tours</a>
            <a href="#">Silk-Way road tour</a>
            <a href="#">Naryn tour</a>
            <a href="#">Pamir tour</a>
            <a href="#">Tian-shan tour</a>
            <a href="#">Kyrgyzstan-mongolia tour</a>
            <a href="#">Tosor tour</a>
            <a href="#">Bartang tour</a>
        </div>
        <div class="d-grid">
            <h4>Menu</h4>
            <a href="#">Repair Shop</a>
            <a href="#">Housing</a>
            <a href="#">Save budget</a>
            <h3>Classic hotel</h3>
        </div>
    </div>
    <div class="text-center text-uppercase" style="background: #E5E5E5">
        <p class="p-3">Copyright© 2021 Nte All Rights Reserved.</p>
    </div>
</footer>
