<footer>
    <div class="footer-body row text-light justify-content-between m-auto py-3">

        <div class="col-lg-3 col-sm-4 d-flex в flex-column mt-3 footer-links">
            <h5 class="heading" lang-key="info">Info<span class="d-sm-none">&#65088</span></h5>
            <a href="/about-us" lang-key="aboutUs">About us</a>
            <a href="/contacts" lang-key="contacts">Contacts</a>
            <a href="/about-kyrgyzstan" lang-key="aboutKyrgyzstan">About Kyrgyzstan</a>
            <a href="/about-tajikistan" lang-key="aboutTajikistan">About Tajikistan</a>
            <a href="/about-mongolia" lang-key="aboutMongolia">About Mongolia</a>
            <a href="/about-china" lang-key="aboutChina">About CHINA</a>

            <div class="mt-3 address">
                <p class="mb-0" lang-key="phone">Phone: +996555550146</p>
                <p class="mb-0" lang-key="addressOshKyrgyzstan">address: osh,kyrgyzstan</p>
                <p class="mb-0" lang-key="index">index: 723500</p>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 d-flex flex-column mt-3 footer-links ">
            <h5 class="heading" lang-key="rents">Rents <span class="d-sm-none">&#65088</span></h5>
            <a href="/off-road-cars" lang-key="offRoadCars">OFF-Road cars</a>
            <a href="/Off-road-motorcycles" lang-key="offRoadMotorcycles">OFF-Road motorcycles</a>
            <h5 class="tours heading pt-4" lang-key="tours">Tours</h5>
            <a href="/tours/silk-way" lang-key="silkWayRoadTour">Silk-Way road tour</a>
            <a href="/tours/naryn" lang-key="narynTour">Naryn tour</a>
            <a href="/tours/pamir" lang-key="pamirTour">Pamir tour</a>
            <a href="/tours/tian-shan" lang-key="tienShanTour">Tian-shan tour</a>
            <a href="/tours/mongolia" lang-key="kyrgyzstanMongoliaTour">Kyrgyzstan-mongolia tour</a>
            <a href="/tours/tosor" lang-key="tosorTour">Tosor tour</a>
            <a href="/tours/bartang" lang-key="bartangTour">Bartang tour</a>
        </div>

        <div class="col-lg-2 col-sm-4 d-flex flex-column mt-3 footer-links">
            <h5 class="heading" lang-key="menu">Menu <span class="d-sm-none">&#65088</span></h5>
            <a href="/repair-shop" lang-key="repairShop">Repair Shop</a>
            <a href="/housing" lang-key="housing">Housing</a>
            <a href="/save-budget" lang-key="saveBudget">Save budget</a>
            <a href="/tires" lang-key="tires">Tires</a>
            <a href="/oil" lang-key="oilChange">Oil change</a>
        </div>

        <div class="logoAndPartners col-sm-6 mt-3 ">
            <div class="logo-block-footer">
                <a href="/">
                    <img src="assets/icons/NTE-header-logo.svg" alt="NTE kg logo" class="logo">
                </a>
            </div>
            <div class="partners mt-4">
                <h5 class="m-0 heading"></h5>
                <a href="/contacts#partners" lang-key="ourPartners">Our partners</a>
            </div>
        </div>
    </div>

    <div class="copyright text-center">
        <p class="p-3 m-0" lang-key="allRightsReserved">Copyright© 2021 Nte All Rights Reserved.</p>
    </div>
</footer>