.max-w {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}
.overSiteBg {
  position: relative;
  z-index: 10;
}
.navigation {
  position: relative;
  z-index: 100;
}

// Smooth slide 
.slide-overflow {
  scroll-behavior: smooth;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

// Chevron buttons
header, section#my-services  {
  .chevron-left {
      visibility: hidden;
  }
}

.chevron {
  &-left,
  &-right {
    background: transparent;

    &:hover {
      color: $secondary-color;
    }
  }
}

section#my-services, section#portfolio {
  .chevron {
    &-left {
      left: -1em;
    }
    &-right {
      right: -1em;
    }
    &-left,
    &-right {
      font-size: 2.5em;
      height: max-content;
      top: 49%;
      transform: translate(0, -50%);
    }
  }
}


// contact me button
button.btn-contact-me {
  background: $secondary-color;
  box-shadow: 0px 2px 15px 2px rgba(160, 156, 172, 0.5);
  transition: 0.3s;
  font-size: 14px;

  &:hover {
    box-shadow: 0 2px 10px 2px rgb(160, 156, 172);
  }
}

// Main content
section {
  margin-top: 90px !important;

  .heading, &#my-services > #switcher, &#my-skills, &#portfolio {
    font-family: "Monsterrat_700", arial;
  }
}

// Active element
.active {
  right: 0 !important;
  visibility: visible !important;
	opacity: 1 !important;
}
.slidedBlock {
  right: 115% !important;
}
.active-part {
  color: $secondary-color;
  border-bottom: 2px $secondary-color solid;
}

header, #contacts, footer {
  #socNetIcons {
    max-width: 185px;

    & > * {
      min-width: 20%;
      height: 30px;

      p {
        background: #ffffff;
        width: 30px;
        height: 30px;
        transition: all 0.3s ease;
        align-items: center;

        a {
          color: $dark;
          font-size: 19px;
          position: absolute;
          top: 49%;
          left: 49%;
          transform: translate(-50%, -45%);

          &:hover {
            color: #fff;
          }
        }
      }

      img {
        width: 20px;
        transform: translate(0px, -2px);
      }
    }
  }

  .chevron {
    &-left {
      left: -25px;
      visibility: hidden;
    }
    &-right {
      right: -20px;
    }
    &-left,
    &-right {
      height: 24px;
      font-size: 20px;
      bottom: 5px;
    }
  }
}