// Monsterrat
@include fontFace('Montserrat_400', 'Montserrat/Regular-400/Montserrat-Regular', 400);
@include fontFace('Montserrat_500', 'Montserrat/Medium-500/Montserrat-Medium', 500);
@include fontFace('Montserrat_600', 'Montserrat/SemiBold-600/Montserrat-SemiBold', 600);
@include fontFace('Montserrat_700', 'Montserrat/Bold-700/Montserrat-Bold', 700);
@include fontFace('Montserrat_800', 'Montserrat/ExtraBold-800/Montserrat-ExtraBold', 800);

// Roboto
@include fontFace('Roboto_400', 'Roboto/Regular-400/Roboto-Regular', 400);
@include fontFace('Roboto_500', 'Roboto/Medium-500/Roboto-Medium', 500);
@include fontFace('Roboto_700', 'Roboto/Bold-700/Roboto-Bold', 700);
@include fontFace('Roboto_900', 'Roboto/ExtraBold-900/Roboto-Black', 900);

// Caveat
@include fontFace('Caveat_400', 'Caveat/Regular-400/Caveat-Regular', 400);