<main id="about-countries" class="about-china pb-5">
	<header  class="text-light d-flex flex-column justify-content-end justify-content-lg-center pb-3">
		<div class="mxW-1400 wz-90 mx-auto">
			<h1 class="headline text-center" lang-key="aboutChina">About china</h1>
			<h2 class="subtitle mx-auto" lang-key="aboutChinaPH1">China is a densely populated country in East Asia with varied landscapes and topography. Here you can find meadows, deserts, mountains, lakes, rivers and coasts with a length of more than 14 thousand km. China is one of the oldest cultures on the planet, and has made famed contributions to all kinds of art, literature, architecture, engineering, and more.</h2>
		</div>
  </header>

	<section id="description" class="my-5 mxW-1400 wz-90 mx-auto">
		<h4 class="text-center mb-4" lang-key="aboutChinaPH2">China <br>(General information)</h4>
		<div class="mb-4">
			<p lang-key="aboutChinaP1">
				The capital of the country, Beijing, is famous for its modern architecture and ancient monuments, including the Forbidden City palace complex and Tiananmen Square. To the east is the world financial center Shanghai, whose silhouette is shaped by countless skyscrapers. The Great Wall of China crosses northern China, crossing it from east to west.
			</p>
			<p lang-key="aboutChinaP2">
				<strong>Capital</strong> — beijing 21,893,095 (2020) inhabitants. Beijing is a global city and one of the world’s leading centres for culture, diplomacy and politics, business and economics, education, language, and science and technology. It is the world’s most populous national capital city within an administrative area of 16,410.5 km². It is located in Northern China, and is governed as a municipality under the direct administration of the State Council with 16 urban, suburban, and rural districts.
			</p>
		</div>
		<div class="row justify-content-between">
			<div class="characteristics">
				<p lang-key="aboutChinaP3"><strong>Towns</strong>— Shanghai (24,237,800), Guangzhou (13,154,200) Shenzhen (13,026,600). (2020)</p>
				<p lang-key="aboutChinaP4"><strong>Population</strong> - 1,411,778,724 inhabitants. (2020)</p>
				<p lang-key="aboutChinaP5"><strong>Climate</strong> - the climate is changeable.</p>
				<p lang-key="aboutChinaP6"><strong>Best travel time</strong> — from May to October.</p>
			</div>
			<div class="characteristics">
				<p lang-key="aboutChinaP7"><strong>Nationalities</strong> — Han Chinese — 91%, Zhuang — 1,27%, Uyghur — 0,75%, uzbeks, kyrgyzs,</p>
				<p lang-key="aboutChinaP8"><strong>Languages</strong> — chinese, uyghur, mongolian, tibetan.</p>
				<p lang-key="aboutChinaP9"><strong>Religions</strong> — 75% is non religion, 18% buddhism, 5,2% Christianity and others.</p>
				<p lang-key="aboutChinaP10"><strong>National currency</strong> — Renminbi (CNY) 1USD = 6.47 Renminbi (July 2021).</p>
				<p lang-key="aboutChinaP11"><strong>Time</strong> — 8 hours ahead of GMT.</p>
			</div>
		</div>
	</section>

	<section id="gallery" class="mxW-1400 wz-90 mx-auto row justify-content-between">
		{{#each aboutChinaData}}
			<div class="img-block text-center my-3">
				<img class="w-100" src="assets/img/about-countries/china/{{this}}" alt="China">
			</div>
		{{/each}}
	</section>
</main>