<main id="about-countries" class="about-kyrgyzstan pb-5">
	<header class="text-light d-flex flex-column justify-content-end justify-content-lg-center pb-3">
		<div class="mxW-1400 wz-90 mx-auto">
			<h1 class="headline text-center">About Kyrgyzstan</h1>
			<h2 class="subtitle mx-auto">
					Kyrgyzstan is a mountainous country in Central Asia. It is located along the Great Silk Road, an ancient trade route between China and the Mediterranean. The Tien Shan mountains, which surround this caravan route and occupy most of the country, are inhabited by snow leopards, lynxes and sheep. In the south of the country, there is the city of Osh, which has a history of more than a thousand years. It is famous for its huge bazaar, where merchants who followed the Great Silk Road once stayed.
			</h2>
		</div>
	</header>

    <section id="description" class="my-5 mxW-1400 wz-90 mx-auto">
			<h4 class="text-center mb-4">Kyrgyzstan <br>(General information)</h4>

			<div class="mb-4">
				<p>
					<strong>Location Kyrgyzstan</strong>
					 — a small mountainous country in the centre of the Asian continent, on one latitude with the south of Italy, Spain, Japan occupies the territory of 198,5 thousand square km. The total length of the borderline is 4500 km. In the north it borders on Kazakhstan, in the west — Uzbekistan and Tajikistan, and more than 900 km with China in the south.

				</p>

				<p>
					<strong>Mountains</strong>
					 occupy 90% of the territory, high mountains — 70%, valleys — 10%. The south-eastern part of the country is located in the region of Karakorum highway and north-western China, where the mainstream of tourists come to Kyrgyzstan and further to Uzbekistan and Kazakhstan.
				</p>
			</div>
        
		<div class="row justify-content-between">
			<div class="characteristics">
				<p><strong>Capital — Bishkek</strong> (former Frunze) 1,053,915 (2020)inhabitants. Bishkek is situated at the foothills of the Kyrgyz Ala-Too mountain range in the centre of the Chu valley, 250 km away from Almaty and 600 km away from Tashkent.</p>
				<p><strong>Towns</strong> — Osh (1,368,054), Jalal-Abad (1,238,750) Karakol (463,900). (2020)</p>
				<p><strong>Population</strong> — 6,586,600 inhabitants. (2020)</p>
				<p><strong>Climate</strong> — average: January — 4-14 degrees below zero, July — 12-37 degrees above zero. The climate is continental.</p>
				<p><strong>Best travel time</strong> — from May to October.</p>
			</div>
			<div class="characteristics">
				<p><strong>Nationalities</strong> — Kyrgyz — 60%, Russian — 5%, Uzbek — 14%, Dungans, Kazakh, Tajik, Uigur, Korean — 2%.</p>
				<p><strong>Languages</strong> — Kyrgyz, Russian.</p>
				<p><strong>Religions</strong> — Islam, Christianity.</p>
				<p><strong>National currency</strong> — 1 som = 100 tyin 1USD = 84.6 som (July 2021).</p>
				<p><strong>Time</strong> — 4 hours ahead of GMT.</p>
			</div>
		</div>
    </section>

		<section id="gallery" class="mxW-1400 wz-90 mx-auto row justify-content-between">
			{{#each aboutKyrgyzstanData}}
				<div class="img-block text-center my-3 position-relative">
					<img class="w-100" src="assets/img/about-countries/kyrgyzstan/{{this.[0]}}" alt="Kyrgyzstan">
					<span class="position-absolute location-name text-light">{{this.[1]}}
						<img src="assets/icons/place.svg" alt="location">
					</span>
				</div>
			{{/each}}
		</section>
</main>