<main id="about-countries" class="about-mongolia pb-5">
	<header  class="text-light d-flex flex-column justify-content-end justify-content-lg-center pb-3">
		<div class="mxW-1400 wz-90 mx-auto">
			<h1 class="headline text-center" lang-key="aboutMongolia">About mongolia</h1>
			<h2 class="subtitle mx-auto" lang-key=" lang-key="aboutMongoliaP" ">Mongolia, the country of adventure, land of steppe nomads with real freedom and great history behind. Pieceful Mongol nation tribes here in Central Asia for thousands of years. Mongolians are welcome hospitality nation to introduce our nomadic lifestyle to you and proud to share their amazing history with you.</h2>
		</div>
  </header>

	<section id="description" class="my-5 mxW-1400 wz-90 mx-auto">
		<h4 class="text-center mb-4" lang-key="aboutMongoliaPH2">Mongolia <br>(General information)</h4>
		<div class="mb-4">
			<p lang-key="aboutMongoliaP1">
				Mongolia is a state in East Asia bordering Russia to the north and China to the south. Landlocked. The state is a member of almost all UN structures, as well as some CIS structures as an observer. The official language is Mongolian with Cyrillic (earlier, the old Mongolian script was used for writing).
			</p>
			<p lang-key="aboutMongoliaP2">
				<strong>Ulaanbaatar</strong> formerly anglicised as Ulan Bator is the capital and most populous city of Mongolia. The municipality is located in north-central Mongolia at an elevation of about 1,300 metres (4,300 ft) in a valley on the Tuul River. The city was originally founded in 1639 as a nomadic Buddhist monastic centre, changing location 28 times, and was permanently settled at its current location in 1778.
			</p>
		</div>
		<div class="row justify-content-between">
			<div class="characteristics">
				<p lang-key="aboutMongoliaP3"><strong>Towns</strong> — Erdenet (86,866), Darkhan (74,300). (2020)</p>
				<p lang-key="aboutMongoliaP4"><strong>Population</strong> - 3,353,470 inhabitants. (2020)</p>
				<p lang-key="aboutMongoliaP5"><strong>Climate</strong> — average: January — 15, -30 degrees below zero, July — 12-37 degrees above zero.</p>
				<p lang-key="aboutMongoliaP6"><strong>Best travel time</strong> — from May to October.</p>
			</div>
			<div class="characteristics">
				<p lang-key="aboutMongoliaP7"><strong>Nationalities</strong> — mongols — 94%, kazakhs — 0,5%, and others</p>
				<p lang-key="aboutMongoliaP8"><strong>Languages</strong> — mongolian</p>
				<p lang-key="aboutMongoliaP9"><strong>Religions</strong> — Buddhism, Islam and others</p>
				<p lang-key="aboutMongoliaP10"><strong>National currency</strong> — Tögrög (mnt) 1USD = 2856.8 Tögrög (July 2021).</p>
				<p lang-key="aboutMongoliaP11"><strong>Time</strong> — 7-8 hours ahead of GMT.</p>
			</div>
		</div>
	</section>

	<section id="gallery" class="mxW-1400 wz-90 mx-auto row justify-content-between">
		{{#each aboutMongoliaData}}
			<div class="img-block text-center my-3">
				<img class="w-100" src="assets/img/about-countries/mongolia/{{this}}" alt="Mongolia">
			</div>
		{{/each}}
	</section>
</main>