<main id="about-countries" class="about-tajikistan pb-5">
	<header  class="text-light d-flex flex-column justify-content-end justify-content-lg-center pb-3">
		<div class="mxW-1400 wz-90 mx-auto">
			<h1 class="headline text-center" lang-key="aboutTajikistan">About tajikistan</h1>
			<h2 class="subtitle mx-auto" lang-key="aboutTajikistanPH1">
                Tajikistan is a country in Central Asia bordering Afghanistan, China, Kyrgyzstan and Uzbekistan. The mountainous landscape attracts lovers of mountaineering and hiking here. The Fan Mountains are located near the capital of Tajikistan. Their height is more than 5000 meters, and snow constantly lies on the peaks. In the nature reserve there is a glacial lake Iskanderkul with turquoise water. You can see different birds here.
            </h2>
		</div>
  </header>

	<section id="description" class="my-5 mxW-1400 wz-90 mx-auto">
		<h4 class="text-center mb-4" lang-key="aboutTajikistanPH2">Tajikistan <br>(General information)</h4>

		<div class="mb-4">
			<p lang-key="aboutTajikistanP1">
				The border of Tajikistan is 700 kilometres long from east to west and 350 kilometres long from north to south. The country shares borders to the west and north with Uzbekistan (910 kilometres) and Kyrgyzstan (630 kilometres); to the south with Afghanistan (1,030 kilometres); and to the east with China (430 kilometres).
			</p>
			<p lang-key="aboutTajikistanP2">
				<strong>Capital</strong> — Dushanbe 846,400 (2020) inhabitants. Dushanbe City is the capital of the Republic of Tajikistan. As a political and administrative centre, it was listed on the world map at the beginning of the XX century. it is located in the scenic and fertile Gissar Valley, at an altitude of 750 — 930 meters above sea level. From the north to the south it is crossed by the Varzob River, from east to the west — by the Kofarnikhon River.
			</p>
		</div>
        
		<div class="row justify-content-between">
			<div class="characteristics">
				<p lang-key="aboutTajikistanP3"><strong>Towns</strong> — Khujand (2,658,400), Khorugh (226,900) Qurghonteppa (3,274,900). (2020)</p>
				<p lang-key="aboutTajikistanP4"><strong>Population</strong> — 9,537,645 inhabitants. (2020)</p>
				<p lang-key="aboutTajikistanP5"><strong>Climate</strong> — average: January — 4-14 degrees below zero, July — 12-37 degrees above zero. The climate is continental.</p>
				<p lang-key="aboutTajikistanP6"><strong>Best travel time</strong> — from May to October.</p>
			</div>
			<div class="characteristics">
				<p lang-key="aboutTajikistanP7"><strong>Nationalities</strong> — Tajiks — 84%, Russian — 0,5%, Uzbek — 8%, Dungans, Kazakh, Uigur.</p>
				<p lang-key="aboutTajikistanP8"><strong>Languages</strong> — Tajik, Russian.</p>
				<p lang-key="aboutTajikistanP9"><strong>Religions</strong> — Islam, Christianity and others.</p>
				<p lang-key="aboutTajikistanP10"><strong>National currency</strong> — Somoni (TJS) 1USD = 11.39 somoni (July 2021).</p>
				<p lang-key="aboutTajikistanP11"><strong>Time</strong> — 5 hours ahead of GMT.</p>
			</div>
		</div>
	</section>

	<section id="gallery" class="mxW-1400 wz-90 mx-auto row justify-content-between">
		{{#each aboutTajikistanData}}
			<div class="img-block text-center my-3">
				<img class="w-100" src="assets/img/about-countries/tajikistan/{{this}}" alt="Tajikistan">
			</div>
		{{/each}}
	</section>
</main>