main#about-us {
  header {
    background: url("../img/About-us/aboutUs-header-bg.jpg") no-repeat center;
  }

  section {
    @extend .subtitle;
    margin-top: 5em;
  }

  section.description {
    @media screen and (min-width: 998px) {
      width: 900px;
    }
  }
  .targets {
    list-style: none;
      &  *::before {
        content: "\25CF";
        margin-right: 5px;


      }
  }
}