main#about-us, main#contacts {
  header {
    background: url("../img/About-us/aboutUs-header-bg.jpg") no-repeat center;
  }

  section {
    @extend .subtitle;
    margin-top: 5em;
  }

  section.description {
    @media screen and (min-width: 998px) {
      width: 900px;
    }
  }
  .targets {
    list-style: none;

      &  *::before {
        content: "\25CF";
        margin-right: 5px;
      }
  }
  .h1Media {
    @include font-size(6em, 35)
  }
  .h2Media {
    @include font-size(2.25em, 32)
  }
  .h3Media {
    @include font-size(1.57em, 15)
  }
  .content {
      @include font-size(1em, 10)
  }
}