main#about-countries {
	background: linear-gradient(26.49deg, #D8D7D8, #F9F9F9);

  header {
		.subtitle {
			@include font-size(1em, 10);
			max-width: 900px;
		}
	}

	section#description {
		font-family: 'Montserrat_500', sans-serif;
		background: linear-gradient(26.49deg, #D8D7D8 -3.78%, #F9F9F9 101.27%);
		.characteristics {
			width: 48%;

			@include screen('lg') {
				width: 100%;
			}
		}
	}

	section#gallery {
		.img-block {
			height: max-content;
			width: 49%;

			@include screen('sm') {
				width: 100%;
			}

			img {
				border-radius: 30px;
			}
		}
	}
}

@include pageHeaderBg(".about-mongolia", "about-countries/mongolia/about-mongolia-header-bg.jpg");
@include pageHeaderBg(".about-china", "about-countries/china/about-china-header-bg.jpg");
@include pageHeaderBg(".about-tajikistan", "about-countries/tajikistan/about-tajikistan-header-bg.jpg");
@include pageHeaderBg(".about-kyrgyzstan", "about-countries/kyrgyzstan/about-kg-header-bg.jpg");

main.about-kyrgyzstan {
	section#gallery {
		.location-name {
			bottom: 7%;
			left: 9%;
			font-family: 'Montserrat_600', sans-serif;
			@include font-size(1em, 10);

			img {
				margin: -10px 0 0 0;
			}
		}
	}
}