main#cars {
	header {
		background: url("../img/Of-road/cars-header-bg.jpg") no-repeat center;
        filter: none;

		.headline {
			@include font-size(5em, 25);
		}

	}
	section {
		background: linear-gradient(26.49deg, #D8D7D8 -3.78%, #F9F9F9 101.27%);
		.autoName {
			font-size: 1.2rem;
		}
		.rectangle {
			border-radius: 40px;
		}
	}
}


main#error404 {
	background: #E5E5E5;
	color: #697078 !important;
	header {
		max-width: 660px !important;
	}
}