main#oil {
  header {
    background: url("../img/Oil/oil-header-bg.jpg") no-repeat center;

    .h1Media {
      @include font-size(6em, 28)
    }

    .h2Media {
      @include font-size(2.25em, 25)
    }
  }
  section {
    @extend .subtitle;
    padding-top: 3.6em;
    background: linear-gradient(26.49deg, #D8D7D8 -3.78%, #F9F9F9 101.27%);

    .oil {
      p {
        margin: 0;
      }
    }
    .rectangle {
      margin-bottom: 10px;
    }
  }
}