main#repair-shop {
  header {
    background: url("../img/RepairShop/repair-shop-header-bg.jpg") no-repeat center;

    .h1Media {
      @include font-size(6em, 28)
    }

    .h2Media {
      @include font-size(2.25em, 20)
    }

  }

  section {
    @extend .subtitle;
    padding-top: 3.6em;
    background: linear-gradient(26.49deg, #D8D7D8 -3.78%, #F9F9F9 101.27%);;

    .content {
      @include screen('lg') {
        width: max-content;
        padding-left: 0 !important;
      }
      @include font-size(1.5em, 15)
    }
    .rectangle {
      border-radius: 30px;
    }
  }





}
