
@include pageHeaderBg("#tours", "Tours/individual-pages/tours-header-bg.jpg");

@include pageHeaderBg("#silk-way", "Tours/individual-pages/silk-way-header-bg.jpg");

@include pageHeaderBg("#naryn", "Tours/individual-pages/naryn-header-bg.jpg");

@include pageHeaderBg("#pamir", "Tours/individual-pages/pamir-header-bg.jpg");

@include pageHeaderBg("#tian-shan", "Tours/individual-pages/tian-shan-header-bg.jpg");

@include pageHeaderBg("#mongolia", "Tours/individual-pages/mongolia-header-bg.jpg");

@include pageHeaderBg("#tosor", "Tours/individual-pages/tosor-header-bg.jpg");

@include pageHeaderBg("#bartang", "Tours/individual-pages/bartang-header-bg.jpg");

main.tour {
  header {
    filter: none !important;

    .headline {
      @include font-size(5em, 25);
    }

    .subtitle {
      @include font-size(1.1em, 20);
      max-width: 750px;
    }
  }

  color: #697078;
}

main#tours {
  .tours-card {
    & > *:not(:last-child) {
      width: 48%;

      @include screen("md") {
				width: 100%;
      }
    }

		& > * {
			height: 250px;
			border-radius: 30px;
			background-repeat: no-repeat;
			background-size: cover;
			overflow: hidden;

			.text {
				z-index: 2;

				.title, .pageLink {
					font-family: 'Montserrat_700', sans-serif;
				}

				.subTitle {
					font-family: 'Montserrat_700', sans-serif;
				}

				.pageLink:hover {
					background: rgba(114, 114, 114, 0.74);
					color: white !important;
				}
			}

			.overlay {
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: rgba(0, 0, 0, 0.404);
				z-index: 0;
			}
		}
  }
}
