<main id="about-kyrgyzstan" class="text-center">
    <header class="text-light d-flex flex-column justify-content-center">
        <h1 class="headline h1Media mxW-1400 wz-90 mx-auto ">About Kyrgyzstan</h1>
        <p class="content text-start mx-auto w-75 pt-4">
            Kyrgyzstan is a mountainous country in Central Asia. It is located along the Great
            Silk Road, an ancient trade route between China and the Mediterranean. The Tien Shan mountains, which
            surround this caravan route and occupy most of the country, are inhabited by snow leopards, lynxes and
            sheep. In the south of the country, there is the city of Osh, which has a history of more than a thousand
            years. It is famous for its huge bazaar, where merchants who followed the Great Silk Road once stayed.
        </p>
    </header>

    <!--surrounding box-->
    <div class="sur-box">
        <!--first section-->
        <section class="description wz-90 mx-auto ">
            <!-- first content block -->
            <div class="content-block">
                <h3 class="subtitle h3Media">Kyrgyzstan</h3>
                <h3 class="subtitle h3Media mb-4">(General information)</h3>
                <div class="content text-start">
                    <p>
                        <b>Location Kyrgyzstan </b>— a small mountainous country in the centre of the Asian continent,
                        on one latitude
                        with
                        the south of Italy, Spain, Japan occupies the territory of 198,5 thousand square km. The total
                        length
                        of the
                        borderline is 4500 km. In the north it borders on Kazakhstan, in the west — Uzbekistan and
                        Tajikistan,
                        and
                        more than 900 km with China in the south.p
                    </p>
                    <p>
                        <b>Mountains</b> occupy 90% of the territory, high mountains — 70%, valleys — 10%. The
                        south-eastern
                        part
                        of the
                        country is located in the region of Karakorum highway and north-western China, where the
                        mainstream
                        of tourists come to Kyrgyzstan and further to Uzbekistan and Kazakhstan.
                    </p>
                </div>
            </div> <!--end of first content block-->
            <!--second content block two separate columns-->
            <div class="content-block d-flex flex-wrap justify-content-between">
                <!-- first column-->
                <div class="content col-sm-5 text-start">
                    <p><b>Capital — Bishkek</b>(former Frunze) 1,053,915 (2020)inhabitants. Bishkek is situated at the
                        foothills
                        of the Kyrgyz Ala-Too mountain range in the centre of the Chu valley, 250 km away from Almaty
                        and
                        600 km away from Tashkent.</p>
                    <p><b>Population </b>— 6,586,600 inhabitants. (2020)</p>
                    <p><b>Languages </b>— Kyrgyz, Russian.</p>
                    <p><b>Religions </b>— Islam, Christianity.</p>
                    <p>
                        <b>National currency </b>— 1 som = 100 tyin
                        1USD = 84.6 som (July 2021).
                    </p>
                </div> <!-- end of first column-->
                <!-- second column-->
                <div class="content col-sm-5 text-start">
                    <p><b>Towns </b>— Osh (1,368,054), Jalal-Abad (1,238,750) Karakol (463,900). (2020)</p>
                    <p><b>Nationalities — Kyrgyz </b>— 60%, Russian — 5%, Uzbek — 14%, Dungans, Kazakh, Tajik, Uigur,
                        Korean —
                        2%.</p>
                    <p><b>Climate — average</b>: January — 4-14 degrees below zero, July — 12-37 degrees above zero. The
                        climate
                        is continental.</p>
                    <p><b>Best travel time </b>— from May to October.</p>
                    <p><b>Time </b>— 4 hours ahead of GMT.</p>
                </div><!--end of second column-->
            </div> <!-- end of second content block two separate columns-->
        </section> <!--  end of firs section-->

        <!-- second section-->
        <section class="description wz-90 mx-auto">
            <!-- image-block-->
            <div class="image-block d-flex flex-wrap justify-content-between flex-column flex-sm-row pb-5">
                <div class="col-sm-6 position-relative">
                    <p class="position-absolute">kochkor <img class="pb-3" src="assets/icons/place.svg" alt=""></p>
                    <img class="images" src="assets/img/About/About-Kg/about-kg-kochkor.jpg" alt="">
                </div>
                <div class="col-sm-6 position-relative">
                    <p class="position-absolute">Kol-Tor lake <img class="pb-3" src="assets/icons/place.svg" alt=""></p>
                    <img class="images" src="assets/img/About/About-Kg/about-kg-kol-tor-lake.jpg" alt="">
                </div>
                <div class="col-sm-6 position-relative">
                    <p class="position-absolute">barskoon waterfall <img class="pb-3" src="assets/icons/place.svg"
                                                                         alt=""></p>
                    <img class="images" src="assets/img/About/About-Kg/about-kg-waterfall.jpg" alt="">
                </div>
                <div class="col-sm-6 position-relative">
                    <p class="position-absolute">Konorchek conyons <img class="pb-3" src="assets/icons/place.svg"
                                                                        alt=""></p>
                    <img class="images" src="assets/img/About/About-Kg/about-kg-konorchek.jpg" alt="">
                </div>
                <div class="col-sm-6 position-relative">
                    <p class="position-absolute">Kegeti <img class="pb-3" src="assets/icons/place.svg" alt=""></p>
                    <img class="images" src="assets/img/About/About-Kg/about-kg-kegeti.jpg" alt="">
                </div>
                <div class="col-sm-6 position-relative">
                    <p class="position-absolute">son-kol lake winter <img class="pb-3" src="assets/icons/place.svg"
                                                                          alt=""></p>
                    <img class="images" src="assets/img/About/About-Kg/about-kg-winter.jpg" alt="">
                </div>
            </div> <!-- end of image block-->
        </section> <!--   end of second section-->
    </div> <!-- end of first section-->
</main>