<main id="cars">
  <header class="text-light d-flex flex-column justify-content-center">
    <div class="mxW-1400 wz-90 mx-auto">
      <h1 class="headline" lang-key="offRoadCarsPH1">quality and reliability
        begin with us.</h1>
      <h2
        class="subtitle display-6 text-end"
        lang-key="offRoadMotorcyclesCarsPH2"
      >feel the extreme!</h2>
    </div>
  </header>

  <section class="py-5">
    <div class="mxW-1400 wz-90 mx-auto pt-2">
      <h4 class="subtitle text-center mb-5" lang-key="offRoadCars">off-road cars</h4>

			{{#if cars.length}}
				{{#each cars}}
      <div class="d-flex flex-column flex-lg-row">

        <div class="col-lg-8 align-self-center text-center mb-5">
          <img
            class="rectangle text-center w-75"
            src="assets/img/{{checkString loadedImage "of-road/off-road-car-icon.jpg" }}"
            alt="car"
          />
        </div>

        <div class="col-lg-4 align-self-center text-center">
          <p class="autoName">{{changeLang carName}}</p>
          <pre
            class="text-start pb-3 fw-bold"
            style="font-size: 0.8rem; white-space: pre-line;"
          >
            {{changeLang carDescription}}
          </pre>
        </div>
      </div>

				{{/each}}
			{{else}}
				<h6>Внедорожников нет.</h6>
			{{/if}}
    </div>
  </section>
</main>