<main id="cars">
    <header class="text-light d-flex flex-column justify-content-center">
        <div class="mxW-1400 wz-90 mx-auto">
            <h1 class="headline" lang-key="offRoadCarsPH1">quality and reliability begin with us.</h1>
            <h2 class="subtitle display-6 text-end" lang-key="offRoadMotorcyclesCarsPH2">feel the extreme!</h2>
        </div>
    </header>

    <section class="py-5">
        <div class="mxW-1400 wz-90 mx-auto pt-2">
            <h4 class="subtitle text-center mb-5" lang-key="offRoadCars">off-road cars</h4>

            <!-- first two contents-->
            <div class="d-flex flex-column flex-lg-row">
                <!-- first img-->
                <div class="col-lg-8 align-self-center text-center mb-5">
                    <img class="rectangle text-center w-75" src="assets/img/Of-road/car-1.jpg"
                         alt="car">
                </div> <!--end first img-->
                <div class="col-lg-4 align-self-center text-center">
                    <p class="autoName" lang-key="offRoadCarsP1">toyota land cruiser 105</p>
                    <p class="text-start pb-3" style="font-size: 0.8rem" lang-key="offRoadCarsP2">
                        The car is very comfortable, capable of overcoming such obstacles and places where, it would
                        seem, it
                        is already impossible to pass. Not killed in the literal sense of the word "not split" bridges
                        give
                        the car a sense of the presence of "independent" suspension. Smooth when accelerating and stable
                        on
                        the road. Sometimes it seems that it is very slow, but remembering that this is not a racing
                        car, but
                        an SUV and its weight is huge, you calm down and feel confident. Especially when it comes to a
                        country
                        road and a country road.
                    </p>
                </div>
            </div><!--end first two contents-->
            <!-- second two contents-->
            <div class="d-flex flex-column flex-lg-row">
                <!-- second img-->
                <div class="col-lg-8 align-self-center text-center mb-5">
                    <img class="rectangle text-center w-75 " src="assets/img/Of-road/car-2.jpg"
                         alt="car">
                </div> <!--end second img-->
                <div class="col-lg-4 align-self-center text-center">
                    <p class="autoName" lang-key="offRoadCarsP3">toyota land cruiser 76</p>
                    <pre class="text-start pb-3" style="font-size: 0.8rem">
<strong lang-key="offRoadCarsP4">
Toyota Land cruiser 76
Engine volume: 4.2
Fuel type: Diesel
Transmission: Manual
Drive unit: Full (4WD)
Fuel consumption: (urban) L / 100 km
19.9L Fuel consumption: (extra-urban)
10.2L
Fuel consumption: (combined) 11.9L
Fuel tank volume: 100L
</strong>
                    </pre>
                </div>
            </div><!--end second two contents-->
            <!-- third two contents-->
            <div class="d-flex flex-column flex-lg-row">
                <!-- third img-->
                <div class="col-lg-8 align-self-center text-center mb-5">
                    <img class="rectangle text-center w-75 " src="assets/img/Of-road/car-3.jpg"
                         alt="car">
                </div> <!--end third img-->
                <div class="col-lg-4 align-self-center text-center">
                    <p class="autoName" lang-key="offRoadCarsP5">toyota land cruiser 78</p>
                    <pre class="text-start pb-3" style="font-size: 0.8rem">
<strong lang-key="offRoadCarsP6">
Toyota Land cruiser 78
Engine volume: 4.2
Fuel type: Diesel
Transmission: Manual
Drive unit: Full (4WD)
Fuel consumption: (urban) L / 100 km
19.9L Fuel consumption: (extra-urban)
10.2L
Fuel consumption: (combined) 11.9L
Fuel tank volume: 100L
</strong>
                    </pre>
                </div>
            </div><!--end third two contents-->
            <!-- fourth two contents-->
            <div class="d-flex flex-column flex-lg-row">
                <!-- fourth img-->
                <div class="col-lg-8 align-self-center text-center mb-5">
                    <img class="rectangle text-center w-75 " src="assets/img/Of-road/car-4.jpg"
                         alt="car">
                </div> <!--end fourth img-->
                <div class="col-lg-4 align-self-center text-center">
                    <p class="autoName" lang-key="offRoadCarsP7">toyota raf 4</p>
                    <pre class="text-start pb-3" style="font-size: 0.8rem">
<strong lang-key="offRoadCarsP8">
Toyota RAV4
Engine volume: 2.0
Fuel type: Petrol
Transmission: Manual
Drive unit: 4WD
Fuel consumption: (urban) L / 100 km
12L Fuel consumption: (extra-urban)
9L
Fuel consumption: (combined) 10L
Fuel tank volume: 70L
</strong>
                    </pre>
                </div>
            </div><!--end fourth two contents-->
            <!-- fifth two contents-->
            <div class="d-flex flex-column flex-lg-row">
                <!-- fifth img-->
                <div class="col-lg-8 align-self-center text-center mb-5">
                    <img class="rectangle text-center w-75 " src="assets/img/Of-road/car-5.jpg"
                         alt="car">
                </div> <!--end fifth img-->
                <div class="col-lg-4 align-self-center text-center">
                    <p class="autoName" lang-key="offRoadCarsP7">toyota raf 4</p>
                    <pre class="text-start pb-3" style="font-size: 0.8rem">
<strong lang-key="offRoadCarsP8">
Toyota RAV4
Engine volume: 2.0
Fuel type: Petrol
Transmission: Manual
Drive unit: 4WD
Fuel consumption: (urban) L / 100 km
12L
Fuel consumption: (extra-urban) 9L
Fuel consumption: (combined) 10L
Fuel tank volume: 70L
</strong>
                    </pre>
                </div>
            </div><!--end fifth two contents-->
            <!-- sixth two contents-->
            <div class="d-flex flex-column flex-lg-row">
                <!-- sixth img-->
                <div class="col-lg-8 align-self-center text-center mb-5">
                    <img class="rectangle text-center w-75 " src="assets/img/Of-road/car-6.jpg"
                         alt="auto tools">
                </div> <!--end sixth img-->
                <div class="col-lg-4 align-self-center text-center">
                    <p class="autoName" lang-key="offRoadCarsP9">Mitsubishi Montero Sport</p>
                    <pre class="text-start pb-3" style="font-size: 0.8rem">
<strong lang-key="offRoadCarsP10">
Mitsubishi Montero Sport
Engine volume: 3.5
Fuel type: Petrol
Transmission: Automatic
Drive unit: Full(4WD)
Fuel consumption: (urban) L / 100 km
15L Fuel consumption: (extra-urban)
11L
Fuel consumption: (combined) 13L
Fuel tank volume: 90L
    </strong>
                     </pre>
                </div>
            </div><!--end sixth two contents-->
        </div>
    </section>
</main>