<main id="contacts" class="pb-5">
    <header class="text-light text-center d-flex flex-column justify-content-center">
        <h1 class="headline h1Media">contacts</h1>
        <h2 class="subtitle h2Media">Nature travel and engineering</h2>
    </header>

    <section class="mxW-1400 wz-90 mx-auto">
        <h3 class="subtitle h3Media mb-4 text-center">contact DESCRIPTION</h3>
        
        <pre>
            Address: Osh, Kyrgyzstan 
            Besh Kapa Street-101, 14 
            Osh postal code – 723500 
            Tel: +996555550146
            WhatsApp +996556356666
            Email: 
        </pre>
    </section>

    <section class="mxW-1400 wz-90 mx-auto map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1516.858028188588!2d72.83036884860478!3d40.5036614986653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bdae5eeedb3821%3A0x32098a58403b8c91!2sMuzToo%20Central%20Asia%20Travel%20Company!5e0!3m2!1sen!2skg!4v1627907360437!5m2!1sen!2skg" height="350" style="border:0; width: 100%" allowfullscreen="" loading="lazy"></iframe>
    </section>
</main>