<main id="contacts" class="pb-5" style="background: linear-gradient(26.49deg, #D8D7D8 -3.78%, #F9F9F9 101.27%);">
    <header class="text-light text-center d-flex flex-column justify-content-center">
        <h1 class="headline h1Media" lang-key="contacts">contacts</h1>
        <h2 class="subtitle h2Media" lang-key="natureTravelAndEngineering">Nature travel and engineering</h2>
    </header>
    <!--Addresses-->
    <section class=" mxW-1400 wz-90 mx-auto">
        <h3 class="subtitle h3Media mb-4 text-center" lang-key="contactDescription">contact DESCRIPTION</h3>
        <pre lang-key="contactsAddress">
Address: Osh, Kyrgyzstan
Besh Kapa Street-101, 14
Osh postal code – 723500
Tel: +996555550146
WhatsApp: +996556356666
Email: naturetravel.osh@gmail.com
        </pre>
        <!--  Partners icon-->
        <div id="partners" >
            <h5 class="text-center my-5 fw-bold" lang-key="ourPartners">Our Partners</h5>
            <div class="d-flex align-items-center justify-content-between flex-column flex-md-row flex-wrap">
                <img class=" col-5 col-md-2 my-md-3 mb-4" src="assets/img/About-us/mmd.png"
                     alt="MMD Adventure">
                <img class=" col-5 col-md-2 my-md-3 my-4" src="assets/img/About-us/wirz-offroad.jpg"
                     alt="wirz-offroad">
                <img class="col-5 col-md-2 my-md-3 my-4" src="assets/img/About-us/reifen-service.png"
                     alt="Reifen Service">
                <img class="col-5 col-md-2 my-md-3 my-4" src="assets/img/About-us/Enduristan.png"
                     alt="Enduristan">
                </div>
            <div class="d-flex align-items-center justify-content-around flex-column flex-md-row flex-wrap">
                <img class="col-5 col-md-2 my-md-3 my-4" src="assets/img/About-us/motodesign.png"
                     alt="Motodesign">
                <p class="col-6 col-md-3 my-md-3 my-4 fw-bolder fs-5 text-center">Alatoo-moto</p>
                <p class="col-6 col-md-3 my-md-3 my-4 fw-bolder fs-5 text-center">Classic hotel</p>
            </div>
        </div>
    </section>
    <!-- Map-->
    <section class="mxW-1400 wz-90 mx-auto map rounded-pill ">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1516.858028188588!2d72.83036884860478!3d40.5036614986653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bdae5eeedb3821%3A0x32098a58403b8c91!2sMuzToo%20Central%20Asia%20Travel%20Company!5e0!3m2!1sen!2skg!4v1627907360437!5m2!1sen!2skg"
                height="350" style="border:0; width: 100%" allowfullscreen="" loading="lazy"></iframe>
    </section>
</main>