<main id="error404">
    <header class="wz-90 mx-auto text-center vh-100 d-flex flex-column justify-content-center">
        <h1 class="headline">ERROR 404</h1>
        <h5 class="title">It seems that something went wrong! The page you are requesting does not exist. It may be outdated, deleted, or an incorrect address was entered in the address bar.</h5>
    </header> 
</main>