<main id="housing" class="text-center">
    <header class="text-light d-flex flex-column justify-content-center">
        <h1 class="headline h1Media" lang-key="housing">Housing</h1>
        <h2 class="subtitle mt-4 mb-0 h2Media" lang-key="natureTravelAndEngineering">nature travel and engineering</h2>
    </header>
    <section class="houses pb-5 px-2">
        <h3 class="subtitle" style="font-size: 1.57rem;" lang-key="description">Description</h3>
        <!-- start last two photos-->
        <div class="d-flex flex-column flex-lg-row pt-5 mxW-1400 wz-90 mx-auto ">
            <div class="col-lg-6 align-self-center text-center mb-3 mb-lg-0">
                <img class="rectangle text-center w-75" src="assets/img/Housing/Rectangle-53.jpg"
                     alt="hostel">
                <div class="content px-5 pt-4">
                    <ul class=" targets text-start">
                        <li lang-key="housingP1">24 / 7 - security</li>
                        <li lang-key="housingP2">24/7- free wi-fi</li>
                        <li lang-key="housingP3">laundry</li>
                        <li lang-key="housingP4">parking</li>
                        <li lang-key="housingP5">bathroom</li>
                        <li lang-key="housingP6">lavatory</li>
                        <li lang-key="housingP7">kitchen</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 align-self-center text-center">
                <img class="rectangle text-center w-75" src="assets/img/Housing/Rectangle-55.jpg"
                     alt="hostel">
                <div class="content px-5 pt-4">
                    <ul class=" targets text-start">
                        <li lang-key="housingP1">24 / 7 - security</li>
                        <li lang-key="housingP2">24/7- free wi-fi</li>
                        <li lang-key="housingP3">laundry</li>
                        <li lang-key="housingP4">parking</li>
                        <li lang-key="housingP5">bathroom</li>
                        <li lang-key="housingP6">lavatory</li>
                        <li lang-key="housingP7">kitchen</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end last two photos-->

    </section>
</main>
