<main id="oil" class="text-center">
    <header class="text-light d-flex flex-column justify-content-center">
        <h1 class="headline h1Media" lang-key="oilChange">oil change</h1>
        <h2 class="subtitle h2Media mt-4 mb-0" lang-key="natureTravelAndEngineering">nature travel and engineering</h2>
    </header>
    <section class="oils pb-5">
        <h3 class="subtitle" style="font-size: 1.57rem" lang-key="description">Description</h3>
        <div class="d-flex flex-column flex-lg-row pt-4 justify-content-between">
            <div class="oil col-lg-3 align-self-center text-center mb-5 mb-lg-0">
                <img class="rectangle text-center w-75" src="assets/img/Oil/Rectangle-58.png"
                     alt="oil">
                <p>10w-40</p>
                <p>$000</p>
            </div>
            <div class="oil col-lg-3 align-self-center text-center mb-5 mb-lg-0">
                <img class="rectangle text-center w-75" src="assets/img/Oil/Rectangle-59.png"
                     alt="oil">
                <p>10w-30</p>
                <p>$000</p>
            </div>
            <div class="oil col-lg-3 align-self-center text-center mb-5 mb-lg-0">
                <img class="rectangle text-center w-75" src="assets/img/Oil/Rectangle-60.png"
                     alt="oil">
                <p>10w-30</p>
                <p>$000</p>
            </div>
            <div class="oil col-lg-3 align-self-center text-center">
                <img class="rectangle text-center w-75" src="assets/img/Oil/Rectangle-61.png"
                     alt="oil">
                <p>10w-40</p>
                <p>$000</p>
            </div>
        </div>
    </section>
</main>
