<main id="repair-shop" class="text-start ">

    <!--start header-->
    <header class="text-light">
        <div class="h-100 mxW-1400 wz-90 mx-auto d-flex flex-column justify-content-center">
            <h1 class="headline h1Media">Repair Shop</h1>
            <h2 class="subtitle h2Media mt-4 mb-0">quality and reliable service </h2>
        </div>
    </header> <!--end header-->

    <!--start container-->
    <section class="spares pb-5">
        <!-- start description-->
        <div class="mxW-1400 wz-90 mx-auto mb-5 text-center">
            <h3 class="subtitle h3Media">service description</h3>
        </div><!-- end description-->

        <!--start box inside container-->
        <div class="row mxW-1400 wz-90 mx-auto justify-content-center">

            <!--start first two contents-->
            <div class="d-flex flex-column flex-lg-row">
                <!--start first img-->
                <div class="col-lg-6 align-self-center text-center mb-4">
                    <img class="rounded-circle text-center w-75 " src="assets/img/RepairShop/Ellipse-1-min.jpg" alt="">
                </div><!--end first img-->

                <div class="col-lg-6 align-self-center text-center">
                    <p class="text-start pb-3" style="font-size: 0.8rem">
                        Our company consists exclusively of professionals. We, like you,
                        are very fond of motorcycles and off-road vehicles, and we also know many of the subtleties of
                        its
                        work. Like-minded people gathered under our roof, for us repairing or improving transport is not
                        a
                        daily routine work, but a favourite and interesting activity. You can be sure that all bolts and
                        working parts will be of high quality and reliable. On the contrary, we will fix the faulty
                        elements
                        and it will work like new for further operation. We will not wind up frantic costs for repairs
                        and
                        do not come up with additional malfunctions. We work not for quantity but for quality, so most
                        of
                        our clients come to us on the recommendation of family and friends. If your transport breaks
                        down,
                        our service doors are always open for you.
                    </p>
                </div>
            </div><!--end first two contents-->

            <!--start second two contents-->
            <div class="d-flex flex-column flex-lg-row flex-column-reverse">
                <div class="content col-lg-6 py-3 ps-5 align-self-center text-start">
                    <ul>
                        <li>self-serving</li>
                        <li>nte repair shop</li>
                        <li>oil change</li>
                        <li>tires change</li>
                        <li>tig welding</li>
                        <li>mma welding</li>
                    </ul>
                </div>
                <!--start second img-->
                <div class="col-lg-6 align-self-center text-center">
                    <img class="rounded-circle text-center w-75" src="assets/img/RepairShop/Ellipse-2-min.jpg" alt="">
                </div><!--end second img-->
            </div><!--end second two contents-->

            <!--start third two contents-->
            <div class="d-flex flex-column flex-lg-row">
                <!--start third img-->
                <div class="col-lg-6 align-self-center text-center">
                    <img class="rounded-circle text-center w-75 " src="assets/img/RepairShop/Ellipse-3-min.jpg" alt="">
                </div><!--end third img-->
                <div class="content col-lg-6 pt-3 align-self-center text-start">
                    <ul>
                        <li>self-serving</li>
                        <li>nte repair shop</li>
                        <li>oil change</li>
                        <li>tires change</li>
                        <li>tig welding</li>
                        <li>mma welding</li>
                    </ul>
                </div>
            </div><!--end third two contents-->
        </div><!--end box inside container-->
    </section><!-- end container-->
</main>