<main id="save-budget" class="text-center">
    <header class="text-light d-flex flex-column justify-content-center">
        <h1 class="headline h1Media" lang-key="saveBudget">Save Budget</h1>
        <h2 class="subtitle mt-4 mb-0 h2Media" lang-key="natureTravelAndEngineering">nature travel and engineering</h2>
    </header>
    <!--container-->
    <section class="budget-box">
        <!--start box inside container-->
        <div class="mxW-1400 wz-90 mx-auto pb-5">
            <h3 class="subtitle pb-4" style="font-size: 1.57rem " lang-key="description">Description</h3>
            <!-- first two contents-->
            <div class="d-flex flex-column flex-lg-row">
                <!-- first img-->
                <div class="col-lg-6 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75 " src="assets/img/SaveBudget/Rectangle-83.jpg"
                         alt="auto tools">
                </div> <!--end first img-->
                <div class="col-lg-6 align-self-center text-center">
                    <p class="text-start pb-3" style="font-size: 0.8rem" lang-key="saveBudgetP1">
                        Every person who wants to travel always thinks about the expenses of the trip or tour. That is,
                        we
                        all want to save our budget. Company Nature Travel Engineering, thinking about its customers,
                        provides not only car or motorcycle rental, but also equipment rental for vehicle repair or
                        tuning.
                    </p>
                </div>
            </div><!--end first two contents-->

            <!-- second two contents-->
            <div class="d-flex flex-column flex-lg-row">
                <!--second img-->
                <div class="col-lg-6 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75 " src="assets/img/SaveBudget/Rectangle-55.jpg" alt="hostel">
                </div> <!--end second img-->
                <div class="col-lg-6 align-self-center text-center">
                    <p class="text-start pb-3" style="font-size: 0.8rem" lang-key="saveBudgetP2">
                        Nature Travel Engineering cooperates with many hotels in the city. If you want to get discounts
                        on
                        hotels, you can book a room with us. However, our company provides its rooms next to the office.
                        Which in it you can park your vehicle or repair your car or motorcycle.
                    </p>
                </div>
            </div><!--end second two contents-->
        </div> <!--end container-->
    </section>
</main>