<main id="tires" class="text-center">
    <header class="text-light d-flex flex-column justify-content-center">
        <h1 class="headline h1Media mb-0 mb-lg-0" lang-key="tires">Tires</h1>
        <h2 class="subtitle h2Media mb-0 mb-lg-0 pt-3 pt-lg-0 lh-lg" lang-key="natureTravelAndEngineering">Nature travel and engineering</h2>
    </header>

    <!--container-->
    <section class="tires-box">
        <!-- box inside container-->
        <div class="mxW-1400 wz-90 mx-auto pb-5">
            <h3 class="subtitle mb-4" style="font-size: 1.57rem " lang-key="description">Description</h3>
            <!--shinko-->
            <h4 class="subtitle pb-4 pb-lg-3" lang-key="tiresShinko">Shinko</h4>
            <div class="shinko d-flex flex-column flex-lg-row flex-wrap justify-content-center">
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-58.png"
                         alt="auto tires">
                    <p>110/80</p>
                    <p>$119</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-59.png"
                         alt="auto tires">
                    <p>130/80-18</p>
                    <p>$109</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-60.png"
                         alt="auto tires">
                    <p>130/80-17 65s</p>
                    <p>$000</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-61.png"
                         alt="auto tires">
                    <p>150/70-17</p>
                    <p>$000</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-62.png"
                         alt="auto tires">
                    <p>4/60-17 62p</p>
                    <p>$000</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-63.png"
                         alt="auto tires">
                    <p>5/10-17 67p</p>
                    <p>$000</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-64.png"
                         alt="auto tires">
                    <p>90/90-21m</p>
                    <p>$000</p>
                </div>
            </div>
            <!--mitas-->
            <h4 class="subtitle pb-3 pb-lg-3" lang-key="tiresMitas">Mitas</h4>
            <div class="mitas d-flex flex-column flex-lg-row flex-wrap justify-content-center">
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-65.png"
                         alt="auto tires">
                    <p>100/90-19 57r</p>
                    <p>$000</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-66.png"
                         alt="auto tires">
                    <p>100/90-19 57t</p>
                    <p>$000</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-67.png"
                         alt="auto tires">
                    <p>110/80-19 59r</p>
                    <p>$000</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-68.png"
                         alt="auto tires">
                    <p>110/80-19 59t</p>
                    <p>$000</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-69.png"
                         alt="auto tires">
                    <p>120/90-17 64r</p>
                    <p>$000</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-70.png"
                         alt="auto tires">
                    <p>120/90-17 64s</p>
                    <p>$000</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-71.png"
                         alt="auto tires">
                    <p>130/80-17 65r</p>
                    <p>$000</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-72.png"
                         alt="auto tires">
                    <p>130/80-17 65t</p>
                    <p>$000</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-73.png"
                         alt="auto tires">
                    <p>140/80-17 69r</p>
                    <p>$000</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-74.png"
                         alt="auto tires">
                    <p>140/80-17 69t</p>
                    <p>$000</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-75.png"
                         alt="auto tires">
                    <p>140/80-18 70r</p>
                    <p>$000</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-76.png"
                         alt="auto tires">
                    <p>140/80-18 70t</p>
                    <p>$000</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-77.png"
                         alt="auto tires">
                    <p>150/70-17 69r</p>
                    <p>$000</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-78.png"
                         alt="auto tires">
                    <p>150/70-17 69t</p>
                    <p>$000</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-79.png"
                         alt="auto tires">
                    <p>80/90-21 48p</p>
                    <p>$000</p>
                </div>
                <div class="col-lg-3 align-self-center text-center mb-4">
                    <img class="rectangle text-center w-75" src="assets/img/Tires/Rectangle-80.png"
                         alt="auto tires">
                    <p>90/90-21 54t</p>
                    <p>$000</p>
                </div>

            </div>
        </div> <!--end box inside container-->
    </section> <!--end container-->
</main>