<main id="tires" class="text-center">
    <header class="text-light d-flex flex-column justify-content-center">
        <h1 class="headline">Tires</h1>
        <h2 class="subtitle display-6 mt-4 lh-base mb-0" style="font-size: 2.26rem;">Nature travel and engineering</h2>
    </header>
    <section class="tires-box">
        <!--shinko-->
        <div class="shinko mxW-1400 wz-90 mx-auto">
            <h3 class="subtitle mb-5" style="font-size: 1.57rem ">Description</h3>
            <h4 class="subtitle">Shinko</h4>
            <p class="py-5 mb-0 text-start">No added tires</p>
        </div>
        <!--mitas-->
        <div class="mitas mxW-1400 wz-90 mx-auto">
            <h4 class="subtitle">Mitas</h4>
            <p class="py-5 mb-0 text-start">No added tires</p>
        </div>
    </section>
</main>