<main id="bartang" class="tour">
  <header  class="text-light d-flex flex-column justify-content-end justify-content-lg-center">
		<div class="mxW-1400 wz-90 mx-auto">
			<h1 class="headline">BARTANG TOUR 2022</h1>
			<p class="subtitle">A difficult tour in the centre of the Pamirs. Part of the tour is the same as the Pamir tour, but technically it is much more difficult. The tour takes place in high mountains and difficulties. We are compensated for by very secluded and unspoiled areas, breathtaking mountains and rivers.</p>
		</div>
  </header>

  <section class="my-5 mxW-1400 wz-90 mx-auto">
    <h4 class="subtitle text-center mb-5">TRAVEL DESCRIPTION</h4>

		<div class="description row">
			<div class="col-lg-6">
				<p><strong>Day 1 Arrival in Osh</strong><br>
					After the flight, you land in Osh, the second-largest city in Kyrgyzstan. You will be picked up and you can relax for a few hours in our hotel. After lunch, we will take a short excursion outside the city to get acquainted with motorcycles. We will spend the night in Osh.
				</p>

				<p>
					<strong>Day 2 Transfer to Sary-Tash.</strong><br>
					A trip to Sary-Tash will take us along the Ak Bura river to a wild and romantic valley. Then continue along the fantastic panoramic road at an altitude of 3000 m to the active coal mine. We climb through a narrow gorge, cross two more passes with a height of 3500 m and get to Chon Alai (big valley), where we spend the night in Sary-Tash in a guest house.
				</p>

				<p>
					<strong>Day 3 To the lakes at the foot of Lenin Peak and Sary-Mogol.</strong><br>
					Weather permitting, today we will make a detour to the foot of Lenin Peak with its proud height of 7134 meters. This gives us the opportunity to get used to the height. In bad weather, we make this detour at the end of our tour. We will spend the night in a yurt in Sary-Mogul.
				</p>

				<p>
					<strong>Day 4 Crossing the border with Tajikistan, Karakul lake</strong><br>
					Today we are crossing the border with Tajikistan. The Kyrgyz customs post is located at the entrance to the Kyzyl-Art pass, and the Tajik customs post is about 30 km away, shortly after the top of the pass. No one seems to be in charge of the intermediate route, the road is neglected, but ideal for good motorcyclists. We are now at an altitude of almost 4000 m. Our family is located right on the shores of Lake Karakul.
				</p>

				<p><strong>Day 5 Pamir plateau</strong><br>
					We are going west along the Pamir Highway. In about an hour we turn off to nowhere. There is no road here, only a 5 km wide valley with several lanes. This is our way to the Bartang Valley.
				</p>

				<p>
					<strong>Day 6 At Roshorw in the Bartang Valley</strong><br>
					To get to the Bartang Valley, you need to descend into the valley along narrow, fun and gentle gravel roads. Our support mechanism succeeds. This section requires maximum concentration without mistakes. As soon as we reached the Bartang Valley, to our surprise, we saw small villages again. I wonder how and with what to survive here. We pitch our tents in an idyllic location by the river.
				</p>

				<p>
					<strong>Day 7 Transfer to Khorog</strong><br>
					Moving to Khorog, the capital of Gorno Badakhshan, as this part of Tajikistan is called, will take us along the Bartang River. It floods the street regularly. Wet feet are guaranteed. Fortunately, it is warmer here than it was the day before, and we can count on a comfortable hotel bed, warm showers and a wonderful civilized dinner.
				</p>

				<p>
					<strong>Day 8 To Lake Turumtai at an altitude of 4200 m.</strong><br>
					From Khorog, there are three ways to get to the east: the direct route M41, the Wakhan valley in the south or between them, the so-called Karl-Marx-Straße. We choose the latter option and enjoy the white mountain giants, of which Marx Peak is the most famous and highest. We set up tents on Lake Turumtai. Beautiful scenery and starry nights make this camp special.
				</p>
			</div>

			<div class="col-lg-6">
				<p>
					<strong>Day 9 Along the Pamir highway to Khorog</strong><br>
					We return to the hotel in Khorog along the M41 highway, have a good rest and gain strength for the next adventure.
				</p>

				<p>
					<strong>Day 10 Through the Wakhan Valley to Bibi Fatima</strong><br>
					Our further journey will take us through the Wakhan Valley, along the border with Afghanistan to Bibi Fatima. A separate ethnic group lives in the Wakhan Valley. These people differ from Tajiks not only in their native language but also outwardly and culturally. At Bibi Fatima, we have a beautiful view of the Wakhan Valley. Of course, we also use the hot spring, which is idyllically located in the rock crypt and invites you to take a wonderful bath with water with a temperature of over 40 degrees. We will spend the night in a guest house in Bibi Fatima.
				</p>

				<p>
					<strong>Day 11 To Bulunkul Lake</strong><br>
					On the way to the Pamir plateau, the air becomes thinner and thinner, but the view becomes clearer and clearer. Wild camels, yaks and a few shepherds aside, we are alone in this solitude. We spend the night in a guest house on Lake Bulunkul, we manage to visit hot springs and a "mini-geyser".
				</p>

				<p>
					<strong>Day 12 Transfer to Murghab.</strong><br>
					We are again on the Pamir Highway or M41. The road was built by the Soviet Union along the Afghan and Chinese borders. It is still partially used by Chinese vehicles today. In Murghab, a former military base, we spend the night in a hotel, and in addition to hot springs, we can take a shower.
				</p>

				<p>
					<strong>Day 13 Return to Osh</strong><br>
					The way back goes through the Ak-Baital pass. At an altitude of 4655 m, this is the highest pass in the Pamirs. Then we cross the last pass of the tour: Kyzyl-Art 4200 m high. Here we reach the border with Kyrgyzstan and drive back to Osh via Sary-Tash.
				</p>

				<p>
					<strong>Day 14 + 15 Rest day in Osh, return flight</strong><br>
					On our last day, there is still time to visit the bazaar or just relax after a busy excursion. We will spend the evening in a good restaurant, taste a juicy shish kebab (shashlik) and fry a successful and successful tour. Early the next morning we will be transferred from the hotel to the airport for our return flight home.
				</p>
			</div>
    </div>
  </section>

	<section class="my-5 mxW-1400 wz-90 mx-auto text-center">
    <img class="mw-100" src="assets/img/Tours/individual-pages/bartang-map.jpg" alt="Bartang map">
  </section>
</main>