<main id="mongolia" class="tour">
  <header  class="text-light d-flex flex-column justify-content-end justify-content-lg-center">
		<div class="mxW-1400 wz-90 mx-auto">
			<h1 class="headline">MONGOLIA tour 2022</h1>
			<p class="subtitle">We drive to Tenerife via Mongelli. We get to know a huge country, impressive rivers and lakes, endless expanses.</p>
		</div>
  </header>

  <section class="my-5 mxW-1400 wz-90 mx-auto">
    <h4 class="subtitle text-center mb-5">TRAVEL DESCRIPTION</h4>

		<div class="description row">
			<div class="col-lg-6">
				<p><strong>Day 1 Arrival in Ulaanbaatar.</strong><br>
					We fly to Ulan Bator via Berlin or Frankfurt. After driving to the hotel, we will start with a city tour with a visit to the Gandan Monastery. We continue on to Tsongjin Boldog, 57 km east of Ulaanbaatar, where the largest equestrian monument in the world is located. Then we return to the hotel and enjoy a typical Mongolian dinner.
				</p>

				<p>
					<strong>Day 2 Ulan Bator — Amarbayasgalant</strong><br>
					After breakfast, we meet with our Mongolian partner. After a short acquaintance and handover of motorcycles, we drive north out of the city. The first 80 km we drive on a good tarmac road to get used to the motorcycles. A good descent takes us about 130 km to the Amarbayasgalant monastery. This monastery is one of 7 original monasteries that have survived to this day. We spend the night in a yurt camp.
				</p>

				<p>
					<strong>Day 3 Squad Amarbayasgalant</strong><br>
					We start the first 40 km off-road. Then along the tar road 60 km around the city of Erdenet to our goal for the day — the village of Unit. Towards evening we reach Unit through a pass on a good slope. On today’s stage, we can immerse ourselves in the typical daily life of the Mongols. We drive past yaks, yurts and meet nomads. We spend the night in a yurt camp.
				</p>

				<p>
					<strong>Part 4 of the day — Selenga River</strong><br>
					Today the route leads towards Lake Khubsugul. The landscape today is said to be similar to South Africa. We drive along a good natural road along the Selenga River, Mongolia’s third-largest river. Picnic by the river, overnight in a tent.
				</p>

				<p>
					<strong>Day 5 and 6 Selenga River — Lake Khubsugul</strong><br>
					Today we are driving along the Selenga River to Northern Mongolia. Our goal is Lake Khubsugul, to which we arrive via Murun in the late afternoon. Today is our first day of rest and we have the opportunity to swim in the lake or rent a boat. We spend the night in a yurt camp.
				</p>

				<p>
					<strong>Day 6 Lake Khovsgul — Tavan-Gol</strong><br>
					We are heading south again. Today’s shorter stage will take us to Tavan-Gol, where we spend the night in a yurt camp.
				</p>

				<p>
					<strong>Day 7 Tavan Gol — Tavan Go River Lounge</strong><br>
					In the next largest city, Murine, we make a short stop to restock. We drive first south and then back east to Ulaanbaatar. The arrival point is Tavan Gol River Lounge. Here, five rivers meet in one place. This is an interesting and beautiful area. We will drive along the river and, perhaps, have time to go fishing or boating.
				</p>
			</div>

			<div class="col-lg-6">
				<p>
					<strong>Day 8 Tavan Gol - Horgon National Park</strong><br>
					After about 150 km of trails, we will have a picnic. In the late afternoon, we will arrive at our destination in the Horgon National Park. What's special about this national park is the young volcanic mountain that erupted 8000 years ago and the Weissensee (White Lake).
				</p>

				<p>
					<strong>Day 9 Horgon National Park - Zencher</strong><br>
					Tsenkher Hot Springs is located southwest of Lake Ugii in a beautiful place between the steppes and wooded hills at the foot of the Khangai Mountains. On this varied journey, we sometimes cross small streams and rivers.
				</p>

				<p>
					<strong>Day 10 Zencher (rest day)</strong><br>
					Today we embark on a day trip to the valley that will leave a lasting impression on everyone. Riding a motorcycle through green pastures, along streams, through forests - and the nomads continue to wave at us. If you wish, you can stop at a yurt camp and pamper yourself with a massage and hot spring water.
				</p>

				<p>
					<strong>Day 11 Zencher - Uurtiin Tohoy</strong><br>
					Today's route of about 120 km to our day destination at Curtain Tohoy will be interesting. We pass small mountains, wide valleys and shallow running waters. A paradise for every off-road driver - you feel like unlimited freedom.
				</p>

				<p>
					<strong>Day 12 Uurtiin Tohoy - Hogno Haan</strong><br>
					Early in the morning, we head to Erdene Zuu monastery. It was the first Buddhist monastery in Mongolia. Further east we reach the foothills of the Gobi Desert. Our camp is located at the foot of granite rock with a magnificent view. A few kilometres from the hotel there is a magical landscape of sand dunes where you can let off some steam in the afternoon.
				</p>

				<p>
					<strong>Day 13 and 15 Hogno Khaan - Ulan Bator</strong><br>
					We reach our final destination Ulaanbaatar around noon on a good tarmac road. The day is free. In the early evening, we drive to the folklore centre, where folk dances, folk music, and mystical singing of the larynx are performed, and at the end of our trip, we enjoy Mongolian cuisine for the last time.
				</p>

			</div>
    </div>
  </section>

	<section class="my-5 mxW-1400 wz-90 mx-auto text-center">
    <img class="mw-100" src="assets/img/Tours/individual-pages/Mongolia-map.jpg" alt="Mongolia map">
  </section>
</main>