<main id="naryn" class="tour">
    <header class="text-light d-flex flex-column justify-content-end justify-content-lg-center">
        <div class="mxW-1400 wz-90 mx-auto">
            <h1 class="headline" lang-key="narynTour">NARYN TOUR <br>(AUGUST 2022)</h1>
            <p class="subtitle" lang-key="narynTourP1">Drive through some of the most beautiful regions of Kyrgyzstan on
                a motorcycle in one week.</p>
        </div>
    </header>

    <section class="my-5 mxW-1400 wz-90 mx-auto">
        <h4 class="subtitle text-center mb-5" lang-key="travelDescription">TRAVEL DESCRIPTION</h4>

        <div class="description row">
            <div class="col-lg-6">
                <p lang-key="narynTourP2"><strong>1. Arrival in Osh Kyrgyzstan</strong><br>
                    After the flight, you land in Osh, the second-largest city in Kyrgyzstan. You will be picked up and
                    you can relax for a few hours in our hotel. After lunch, we will take a short excursion outside the
                    city to get acquainted with motorcycles. We will spend the night in Osh.
                </p>

                <p lang-key="narynTourP3">
                    <strong>Day 2 Transfer to Toktogul lake.</strong><br>
                    Today we are on the main road from Osh to Bishkek. First, we cross the fertile Fergana Depression,
                    and then we are pleased with the countless bends of the Naryn River. Our goal for the day is a hotel
                    right on the huge Toktogul reservoir. In the summer, it invites you to swim with its warm
                    temperature.
                </p>

                <p lang-key="narynTourP4">
                    <strong>Day 3 Along the Naryn river to Kyzyl-Oy</strong><br>
                    After we have conquered the Alabel pass with a height of 3400 m, we admire the vastness of the
                    Suusamir plateau, and the most daring of us taste "Kumiz", fermented mare's milk, which is offered
                    on the bike along the way. On a good gravel road, we drive along the picturesque Kökemeren River
                    towards Kyzyl-Oy, to a Kyrgyz family who provides us with their home for the night.
                </p>

                <p lang-key="narynTourP5">
                    <strong>Day 4 Ascent to Songkol Lake</strong><br>
                    Our path lies through beautiful hills, forests and meadows. We pass a coal mine and soon see the
                    beautiful Songkol Lake from afar. It sits on a giant plateau 3,000 meters above sea level, where
                    Kyrgyz shepherds graze their flocks during the summer months. The nights are mostly cold and clear
                    with stars: it is worth looking up to the sky. We spend the night in comfortable yurts. If you're
                    lucky, you can eat freshly caught fried fish from the lake for dinner.
                </p>
            </div>

            <div class="col-lg-6">
                <p lang-key="narynTourP6">
                    <strong>Day 5 To the caravanserai in Tash-Rabat</strong><br>
                    Our destination today is the caravanserai in Tash Rabat. The road winds down the mountain in
                    countless serpentines. We replenish stocks in Naryn. After a fantastic ride accompanied by 4000m
                    mountains on both sides and through a valley full of marmots, we arrive at Tash Rabat, an old
                    caravan site at 3000m above sea level. A local shower can be found in the bathhouse (local sauna).
                    We spend the night in a cosy yurt.
                </p>

                <p lang-key="narynTourP7">
                    <strong>Day 6 Crossing two passes to Kazarman</strong><br>
                    Today, the landscape, colours and mountain ranges change almost every hour! The highlights of our
                    trip are the two Kulak-Ashuu passes at 3400 m and the Kayun pass at 2930 m. Today's stage ends in
                    Kazarman, a gold mining town.
                </p>

                <p lang-key="narynTourP8">
                    <strong>Day 7 Through the Kaldam pass and back to Osh</strong><br>
                    Return trip
                    to Osh is long but varied. On the 3062 m high Kaldam Pass, snow larvae often lie along the road
                    until June. And then we look forward to the already familiar hotel in Osh and the last wonderful
                    dinner in Kyrgyzstan.
                </p>

                <p lang-key="narynTourP9">
                    <strong>Day 8 Osh and departure</strong><br>
                    Early the next morning, we are driven to the airport to fly home to the west.
                </p>

            </div>
        </div>
    </section>

    <section class="my-5 mxW-1400 wz-90 mx-auto text-center">
        <img class="mw-100" src="assets/img/Tours/individual-pages/naryn-tosor-map.jpg" alt="Naryn map">
    </section>
</main>