<main id="pamir" class="tour">
  <header  class="text-light d-flex flex-column justify-content-end justify-content-lg-center">
		<div class="mxW-1400 wz-90 mx-auto">
			<h1 class="headline" lang-key="pamirTour">PAMIR TOUR <br>(MAY / JUNE 2022)</h1>
			<p class="subtitle" lang-key="pamirTourP1">A very varied tour of the lowlands, river valleys and high mountains (including 1 week at an altitude of 4000 m). Riding in deserted places in the high mountains.</p>
		</div>
  </header>

  <section class="my-5 mxW-1400 wz-90 mx-auto">
    <h4 class="subtitle text-center mb-5" lang-key="travelDescription">TRAVEL DESCRIPTION</h4>

		<div class="description row">
			<div class="col-lg-6">
				<p lang-key="pamirTourP2"><strong>Day 1 Arrival in Osh</strong><br>
					After the flight, you land in Osh, the second-largest city in Kyrgyzstan. You will be met and you can relax for a few hours in our hotel. After lunch, we will take a short excursion outside the city to get acquainted with motorcycles. We will spend the night in Osh.
				</p>

				<p lang-key="pamirTourP3">
					<strong>Day 2 Day trip to Lake Papan with pass</strong><br>
					Today's one-day tour (about 150 km) will first take us to Lake Papan, Osh reservoir. We drive on gravel dirt roads through a green valley and then along with one of the many passes south of the city. In the afternoon we will return to Osh along a well-developed road.
				</p>

				<p lang-key="pamirTourP4">
					<strong>Day 3 drive through the Fergana Valley of Kyrgyzstan to Khujand in Tajikistan</strong><br>
					Today's disk is long and dusty. But we are rewarded with many new, unexplored experiences that make us forget about all the efforts. And in the evening in our beautiful hotel beer is tastier.
				</p>

				<p lang-key="pamirTourP5">
					<strong>Day 4 Drive to the pass in Dushanbe.</strong><br>
					While our escort car drives through the frightening Anzob tunnel on the way to Dushanbe, we cross a 3000-meter-high pass. Since all traffic passes through a dark and wet tunnel, we have an impressive passage. We will spend the night in Dushanbe.
				</p>

				<p lang-key="pamirTourP6">
					<strong>Day 5 Kalaikum, the starting point of the Pamirs.</strong><br>
					There are two ways to get to Kalaikum: either along the winter route in southern Tajikistan or along the M41 highway through the mountains, along bumpy roads that are partially interrupted by streams. If possible, we choose the second, more difficult, but all the more attractive route. We live in a family. We have the opportunity to get to know the daily life of the Tajik family and enjoy their generous hospitality.
				</p>

				<p lang-key="pamirTourP7">
					<strong>Day 6 Transfer to Khorog.</strong><br>
					The mighty Pansch River leads us to Khorog. The river and road meander through a mesmerizing rocky gorge. On the other side of the river, almost every green spot is used as a site for an Afghan village. Khorog, a university town in the middle of the Pamirs, offers us a cosy hotel and a good dinner.
				</p>

				<p lang-key="pamirTourP8">
					<strong>Day 7 Continue to Bibi Fatima</strong><br>
					Our journey continues through the Wakhan Valley, along the Afghan border to Bibi Fatima. A separate ethnic group lives in the Bacchante Valley. These people differ from Tajiks not only in their native language but also outwardly and culturally. At Bibi Fatima, we have a beautiful view of the Wakhan Valley. Of course, we also use the hot spring, which is idyllically located in the rock crypt and invites you to take a wonderful bath with water with a temperature of over 40 degrees. We will spend the night in Bibi Fatima.
				</p>
			</div>

			<div class="col-lg-6">
				<p lang-key="pamirTourP9">
					<strong>Day 8 Transfer to the Pamir plateau at an altitude of 4000 m.</strong><br>
					On the way to the Pamir plateau, the air becomes thinner and thinner, but the view becomes clearer. Wild camels, yaks and a few shepherds aside, we are alone in this solitude. We spend the night in a guest house on Lake Bulunkul, we manage to visit hot springs and a "mini-geyser".
				</p>

				<p lang-key="pamirTourP10">
					<strong>Day 9 + 10 Along the Pamir highway</strong><br>
					Now we are on the legendary Pamir highway or M41. The road was built by the Soviet Union along the Afghan and Chinese borders. It is still partially used by Chinese vehicles today. We cross four passes at an altitude of over 4000 m. The Ak-Baital pass with a height of 4655 m is the highest of them. In Murghab, a former coal-mining town, we spend the night in a hotel and, in addition to hot springs, we can take a shower again for several days.
				</p>

				<p lang-key="pamirTourP11">
					<strong>11 + 12 days To the Karakul lake and through the</strong><br>
					Kyzyl-Art pass to Kyrgyzstan Our further journey will lead us to the picturesquely located Karakul lake. We spend the night in Karakul right on the lake. The next day we cross the last Kyzyl-Art pass with a height of 4200 m. Here we come to the border with Kyrgyzstan.
				</p>

				<p lang-key="pamirTourP12">
					<strong>Day 13 Base Camp Lenin Peak, return to Osh</strong><br>
					Before returning to Osh, we make a detour to the base camp of Lenin Peak at an altitude of over 3500 m and in good weather, we enjoy a fantastic view of this giant mountain.
				</p>

				<p lang-key="pamirTourP13">
					<strong>14-15 day Osh and travel home</strong><br>
					The last day of our Pamir tour belongs to the city of Osh. We have enough time for a city tour or a visit to the bazaar. Early the next morning we will be transferred from the hotel to the airport, from where we will head back home.
				</p>

			</div>
    </div>
  </section>

	<section class="my-5 mxW-1400 wz-90 mx-auto text-center">
    <img class="mw-100" src="assets/img/Tours/individual-pages/pamir-map.jpg" alt="Pamir map">
  </section>
</main>