<main id="silk-way" class="tour">
  <header  class="text-light d-flex flex-column justify-content-end justify-content-lg-center">
		<div class="mxW-1400 wz-90 mx-auto">
			<h1 class="headline">SILK ROAD TOUR <br> (MAY 2022)</h1>
			<p class="subtitle">From Switzerland to Kyrgyzstan by motorcycle. Along the Silk Road.
Ride your own motorcycle (organized return transport with a freight forwarder) or a Yamaha XT660Z with us.
The reserve motorcycle (in case of a breakdown) is transported in a pickup truck along with the luggage behind the group.</p>
		</div>
  </header>

  <section class="my-5 mxW-1400 wz-90 mx-auto">
    <h4 class="subtitle text-center mb-5">TRAVEL DESCRIPTION</h4>

	<div class="description row">
        <div class="col-lg-6">
            <p>
							<strong>Switzerland — Italy — Greece 4 days | 1580 km.</strong> Like Marco Polo, we embark on a journey through Italy along the Silk Road. In Ancona, we take a ferry that will take us to Igoumenitsa in Greece. At 8 o’clock in the morning, we dock in Greece and, having rested, drive through Thessaloniki to Kavala and spend the night in a cosy hotel.
						</p>

						<p>
							<strong>Turkey 7 days | 2460 km</strong> The very next day we cross the southern part of the Sea of Marmara in Canakkale and already in Asia. We will cross all of Turkey and visit, among other things, the caravanserai in Sultan Hani, Cappadocia, with its world-famous cave dwellings and churches. There is also the opportunity to take part in an impressive hot air balloon ride in Goreme. During our journey to the east, we will see the Anatolian plateau from its most beautiful side. We spend the night in good hotels.
						</p>

						<p>
							<strong>Iran 10 days | 2780 km Tehran,</strong> the capital of Iran, will bypass a large area in the south. To do this, we will get to know oriental fabulous cities such as Isfahan, Yazd and Mashhad during our 10-day trip to Iran. The people are very open, friendly and very helpful.
						</p>

						<p>
							<strong>Turkmenistan 3 days | 760 km</strong> After Ashgabat, the capital of Turkmenistan, with its magnificent buildings and unsuitable water bodies, we will visit a gas crater on our way to Khiva — in the middle of the desert. To really see the spectacle, we try to spend the night nearby, because this «hellhole» only makes a real impression in the dark.
						</p>
        </div>

        <div class="col-lg-6">
					<p>
						<strong>Uzbekistan 6 days | 1080 km</strong> In Uzbekistan, we will visit the cities of Khiva, Bukhara and Samarkand, pearls of the Silk Road. In Bukhara, a German-speaking Uzbek will tell us about the sights of this old city with its imposing buildings and minarets. We will spend the night in a traditional boutique hotel in the centre of the historic Old Town and in a guesthouse in Samarkand, famous for its beautiful garden and rich breakfast.
					</p>

					<p>
						<strong>Uzbekistan — Kyrgyzstan 1 day | 410 km</strong> Our final stage takes us from the capital of Uzbekistan, Tashkent, along a well-developed pass to the Fergana Valley and immediately after the border with Kyrgyzstan to Osh. We use the day before flying home to visit the big bazaar in Osh and see the city. On the eve of departure, we will sit down again in comfort, taste a juicy barbecue (shashlik) with a cold beer and tell each other about the exciting journey that awaits us ahead and will be remembered for a lifetime!
					</p>

				</div>
    </div>
  </section>

	<section class="my-5 mxW-1400 wz-90 mx-auto text-center">
    <img class="mw-100" src="assets/img/Tours/individual-pages/silk-way-map.jpg" alt="Silk-way map">
  </section>
</main>