<main id="tian-shan" class="tour">
  <header  class="text-light d-flex flex-column justify-content-end justify-content-lg-center">
		<div class="mxW-1400 wz-90 mx-auto">
			<h1 class="headline">TIEN-SHAN TOUR <br>(JUNE 2022)</h1>
			<p class="subtitle">Discover the most beautiful regions of Kyrgyzstan by motorcycle in two weeks.</p>
		</div>
  </header>

  <section class="my-5 mxW-1400 wz-90 mx-auto">
    <h4 class="subtitle text-center mb-5">TRAVEL DESCRIPTION</h4>

		<div class="description row">
			<div class="col-lg-6">
				<p><strong>Day 1 Arrival in Osh and test drive.</strong><br>
					Upon arrival in Osh and after a few hours of rest at the hotel, we get to know motorcycles on a short tour. We will spend the night in Osh.
				</p>

				<p>
					<strong>Day 2 Excursion to Lake Papan with a travel card.</strong><br>
					Today's day tour will take us first to Lake Papan, Osh reservoir. We drive on gravel dirt roads through a green valley and then along with one of the many passes south of the city. On a well-developed road from China and Tajikistan, in the afternoon we return to our hotel in Osh.
				</p>

				<p>
					<strong>Day 3 Osh via Osgon to Arslanbob</strong><br>
					Today we are the first on the main road from Osh to Bishkek before reaching the intersection with Arslanbob. This village is located in the largest walnut forest in the world. From our idyllic family, we can take a walk to the waterfall in the evening.
				</p>

				<p>
					<strong>Day 4 To Toktogul lake</strong><br>
					After a lovely breakfast on the veranda overlooking the mountains, we say goodbye to our friendly hosts. Our goal for the day is a hotel right on the huge Toktogul reservoir. Its warm temperature invites you to take a bath.
				</p>

				<p><strong>Day 5 Transfer to Kyzyl-Oy.</strong><br>
					Having conquered the Alabel pass with a height of 3400 m, we admire the vastness of the Suusamir plateau. From there we will drive to Kyzyl-Oy to the guest house.
				</p>

				<p>
					<strong>Day 6 Continue to Kochkor.</strong><br>
					Today's route runs from Kyzyl-Oy to Kochkor. If you wish, you can go to the old uranium mine in the city of Ming Kush. This remote location is especially useful for photographers.
				</p>

				<p>
					<strong>Day 7 Today is a day of rest.</strong><br>
					Who wants to visit the Kyrgyz carpet production. These felt carpets, called shyrdak, are mainly made at home in the area.
				</p>

				<p>
					If you don't want to miss out on a motorcycle ride, you can head to nearby Issyk-Kul, the world's second-largest freshwater source.
				</p>
			</div>

			<div class="col-lg-6">
				<p>
					<strong>Day 8 To Naryn</strong><br>
					Early in the morning we leave the beautiful living room and set off for Naryn. We make a useful detour and follow the Naryn River through secluded valleys and gorges. The Jalpak pass 3300 m high invites you to a picnic!
				</p>

				<p>
					<strong>Day 9 Songkol Lake, the "pearl" of Kyrgyzstan.</strong><br>
					On this day we are going to Songkol. This wonderful lake is located on a giant plateau at an altitude of 3000 m above sea level. M., Where Kyrgyz shepherds graze their flocks in the summer months. The nights here are mostly cold and clear with stars, it is worth looking at the sky. We spend the night in comfortable yurts.
				</p>

				<p>
					<strong>Day 10 Return to Naryn.</strong><br>
					On a different, but no less exciting route, we return to Naryn, where the day before yesterday's comfortable rooms is located.
				</p>

				<p>
					<strong>Day 11 To the caravanserai Tash-Rabat</strong><br>
					On a good road and through a valley with many marmots, we get to Tash-Rabat, an old caravan stop at an altitude of 3000 m above sea level. We spend the night in a cosy yurt. Our host family heats up the sauna for us.
				</p>

				<p>
					<strong>Day 12: Trekking overlooking the Naryn Valley.</strong><br>
					Today, the landscape, colours and mountain ranges change almost every hour! The highlight is the Kulak-Ashuu pass with a height of 3400 m.
				</p>

				<p>
					We are located in the centre of the Tien Shan. This mountain range is on the border with China and gave the name to our tour. Today's stage ends in Kazarman, a gold mining town. We can shower again.
				</p>

				<p>
					<strong>Day 13 Through the Kaldam pass to Osh</strong><br>
					The way back to Osh is long but varied. On the Kaldam Pass, 3062 meters high, snow often remains on the side of the road. We are looking forward to a comfortable hotel in Osh and a great dinner.
				</p>

				<p>
					<strong>14 -15 day Osh and departure</strong><br>
					We spend the last day of the tour in Osh. We have time to visit the bazaar or city tour and then celebrate a successful tour. The next morning we will be taken to the airport.
				</p>

			</div>
    </div>
  </section>

	<section class="my-5 mxW-1400 wz-90 mx-auto text-center">
    <img class="mw-100" src="assets/img/Tours/individual-pages/tian-shan-map.jpg" alt="Tian-shan map">
  </section>
</main>