<main id="tosor" class="tour">
  <header  class="text-light d-flex flex-column justify-content-end justify-content-lg-center">
		<div class="mxW-1400 wz-90 mx-auto">
			<h1 class="headline">TOSOR TOUR <br>(AUGUST 2022)</h1>
			<p class="subtitle">Discover the most beautiful regions of Kyrgyzstan by motorcycle in two weeks. With trips through difficult terrain.</p>
		</div>
  </header>

  <section class="my-5 mxW-1400 wz-90 mx-auto">
    <h4 class="subtitle text-center mb-5">TRAVEL DESCRIPTION</h4>

		<div class="description row">
			<div class="col-lg-6">
				<p><strong>Day 1 Arrival in Osh</strong><br>
					After the flight, you land in Osh, the second largest city in Kyrgyzstan. You will be picked up and you can relax for a few hours in our hotel. After lunch, we will take a short excursion outside the city to get acquainted with motorcycles. We will spend the night in Osh.
				</p>

				<p>
					<strong>Day 2 Drive to Lake Papan and the first transfer.</strong><br>
					A day tour (about 150 km) will take us to Lake Papan, Osh reservoir. We drive on gravel dirt roads through a green valley and through one of the many passes south of the city. We return along a well-developed road. We will spend the night in Osh.
				</p>

				<p>
					<strong>Day 3 Through the Kaldam pass towards Kazarman</strong><br>
					Our goal today is Kazarman, a gold rush city in central Kyrgyzstan. We choose roads with low traffic and cross the Kaldam pass with a height of 3000 m. We spend the night in a guest house with a Kyrgyz family.
				</p>

				<p>
					<strong>Day 4 Pass to the caravanserai Tash-Rabat</strong><br>
					Today the program includes two passes with a height of more than 3000 m. We enjoy the vastness and solitude of Kyrgyzstan and look at the Naryn valley. We drive along steep mountain roads, cross dry rivers and see herds of grazing sheep and yaks. Our yurt camp is located in close proximity to the caravanserai in Tash-Rabat.
				</p>

				<p>
					<strong>Day 5  F AHRT to Chatyr-Kul lake and Naryn.</strong><br>
					We make a detour to Naryn, a university town at an altitude of 2000 m, along the Chinese border to Chatyr-Kul Lake. Enduro riding on this bumpy, adventurous slope is a lot of fun. After 210 km we will have a shower and a wonderful dinner in Naryn.
				</p>

				<p>
					<strong>Day 6 Through the Tosor pass to the Issyk-Kul lake</strong><br>
					Today’s trip will take us along the Naryn River. We cross wide valleys, narrow and steep gorges and pass the 3800 m high Tosor pass, which gave the name to this journey. This unsafe route ends at Lake Issyk-Kul. It is ten times the size of Lake Constance and invites us to cool off in crystal clear waters. We will spend the night in a beautiful hostel right on the shore of the lake.
				</p>

				<p>
					<strong>Day 7 Continue to Kochkor.</strong><br>
					After the last difficult days, we relaxed a bit today. Our stage is Kochkor, famous for the production of Kyrgyz felt carpets.
				</p>
			</div>

			<div class="col-lg-6">
				<p>
					<strong>Day 8 Through the pass Karakul to Kyzyl-Oy </strong><br>
					The landscape of Kyrgyzstan is extremely diverse. After almost every turn, we see a new fantastic landscape. This is especially true for today’s scene. He takes us through the rarely visited pass Karakul 3400 m high to Kyzyl-Oi, located on a wild mountain river. There we enjoy Kyrgyz family hospitality.
				</p>

				<p>
					<strong>Day 9 Day tour or day of rest in Kyzyl-Oy </strong><br>
					Today is a good day for enduro riders who love steep slopes. The steep and rocky mountain trail requires maximum concentration and good driving skills from us. This one-day tour takes place in a completely deserted area. Those who prefer to relax on this day can stay in Kyzyl-Oy.
				</p>

				<p>
					<strong>Day 10 To Songkol Lake Lake</strong><br>
					Songkol is located on a huge plateau at an altitude of 3000 m and is considered the pearl of Kyrgyzstan. We reach the yurt camp right by the lake around noon. So we have plenty of time to enjoy this idyllic place and watch the shepherds walk.
				</p>

				<p>
					<strong>Day 11 Along the northern route to Kazarman.</strong><br>
					We go to Kazarman again, but this time along the northern route and enjoy a fantastic view of the Naryn valley.
				</p>

				<p>
					<strong>Day 12 Drive to Gulcha</strong><br>
					Today’s trip to Gulcha will take us through Osgon and through a wonderful gorge. This gives us a lot of opportunities to ride off-piste.
				</p>

				<p>
					<strong>Day 13 Panoramic drive and return to Osh</strong><br>
					At the end of the tour, a hefty dessert awaits us today. We drive past beautiful pastures and narrow gorges, reaching an altitude of 3500 m. We stay at this altitude for a long time and enjoy the endless panorama. Overlooking the snow-capped mountains of Kichig-Alai. Then we go down to the Ak-Buura river, along which we go back to Osh.
				</p>

				<p>
					<strong>Day 14 + 15, rest day in Osh and return flight.</strong><br>
					We use the last day to visit the bazaar or just to relax after a busy excursion. We spend the evening in a good restaurant, enjoy a juicy barbecue (barbecue) and toasts for a successful and successful tour. Early the next morning we will be transferred from the hotel to the airport for our return flight home.
				</p>
			</div>
    </div>
  </section>

	<section class="my-5 mxW-1400 wz-90 mx-auto text-center">
    <img class="mw-100" src="assets/img/Tours/individual-pages/naryn-tosor-map.jpg" alt="Tosor map">
  </section>
</main>