// Utils
@import "./utils/vars.scss";
@import "./utils/mixins.scss";
@import "./utils/font-face.scss";

// Components
@import "./components/navbar.scss";
@import "./components/footer.scss";
@import "./components/common.scss";

// Pages
@import "./pages/home.scss";
@import "./pages/aboutUs.scss";
@import "./pages/housing.scss";
@import "./pages/motorcycles.scss";
@import "./pages/cars.scss";
@import "./pages/tours.scss";
@import "./pages/tires.scss";
@import "./pages/oil.scss";
@import "src/scss/pages/save-budget";
@import "src/scss/pages/repair-shop";
@import "src/scss/pages/about-countries.scss";
